<div class="after" id="after">
	<div class="after-top">
		<h2>{{ title }}</h2>
		<p>{{ text }}</p>
	</div>
	<div class="after-bottom">
		<div class="ab-wrapper">
			{% for step in steps %}
			<div>
				<h2>{{ step.title }}</h2>
				<p>{{ step.text }}</p>
				{% if step.link == 'dig' %}
					{% include 'twig/digguide.twig' %}
				{% else %}
					<a href="{{ step.url }}" class="bottom-link" {% if step.link == 'extern' %}target="_blank"{% endif %}>{{ step.linktext }}</a>
				{% endif %}
			</div>
			{% endfor %}
			{#<div>#}
				{#<h2>Offert och beställning</h2>#}
				{#<p>Sök på din adress och gör en intresseanmälan för att ta komma igång. När du har anmält intresse undersöker vi dina förutsättningar. Om vi kan ansluta ditt hus får du en offert tillsammans med ett förslag på hur du kan gräva till närmaste anslutningspunkt. Vill du ha fiber så beställer du genom att signera offerten.</p>#}
				{#<a class="bottom-link" href="#anslutamotorn">Anmäl intresse</a>#}
			{#</div>#}
			{#<div>#}
				{#<h2>Du gräver</h2>#}
				{#<p>När vi har tagit emot din beställning blir du kontaktad av en projektledare, vanligtvis inom två veckor. Då får du veta mer om anslutningen och kan börja gräva.</p>#}
				{#{% include 'twig/digguide.twig' %}#}
			{#</div>#}
			{#<div>#}
				{#<h2>Installation och tjänster</h2>#}
				{#<p>Du hör av dig till oss när du har grävt och dragit in fiberslangen i huset så att vi kan planera för den slutliga installationen. När tjänstefördelaren är monterad aktiveras din anslutning inom två veckor och du får en leveransbekräftelse av oss när du kan börja surfa. Under tiden kan du med fördel beställa de tjänster du vill ha.</p>#}
				{#<a class="bottom-link" href="http://www.servanet.se/serviceguide/index/consumers">Beställ tjänster</a>#}
			{#</div>#}
		</div>
	</div>


</div>