<div id="anslutamotorn" class="anslutamotorn" style="background-image: url('{{ bgimage }}');">
	<div class="inner">
		<h2>{{ title }}</h2>
		<p>{{ text }}</p>
		<form method="post" action="{{ url }}" id="anslutamotornform">
			<input type="hidden" name="nonce" value="{{ nonce }}">
			<input type="hidden" name="action" value="servanetlookup" />

			<div class="input-wrapper">
				<div class="address">
					<input title="Gatunamn" type="text" name="string" placeholder="" />
				</div>
				<div class="button">
					<button type="submit">Sök adress</button>
				</div>
			</div>
		</form>

		<div id="no-results" class="no-results">
			<h2>Inga träffar</h2>
			<div class="button-wrapper">
				<div class="text">
					<p>Kontrollera stavningen av ditt gatunamn. Om din gata inte finns i vår databas så kan du fortfarande skicka in en intresseanmälan.</p>
				</div>
				<div class="button">
					<a href="http://www.servanet.se/connect/apply.php" target="_blank">Anmäl intresse</a>
				</div>
			</div>
		</div>

		<div id="error-results" class="no-results">
			<h2>Tillfälligt fel. Försök igen om en liten stund.</h2>
		</div>

		<div class="results">
			<div class="results-header">
				<div class="address">Adress</div>
				<div class="apartment">Lägenhet</div>
				<div class="status">Status</div>
			</div>
			<ul id="results" class="results">

			</ul>
			<ul id="pagination" class="pagination"></ul>
		</div>

	</div>
</div>

<div class="toconnect">
	<a class="inner scrollTo" href="#after">
		<p>Finns redan ServaNet indraget i ditt område men du är inte ansluten?</p>
		<p>Läs mer om hur du ansluter dig här.</p>
	</a>
</div>