<div class="section"{% if id is defined %} id="{{ id }}"{% endif %}>
	<h2>{{ title }}</h2>
	<div class="content">
		<p>{{ ingress }}</p>
		<ol class="numbered">
			{% for item in items %}
				<li>
					<div class="innerli">
						<h3>{{ item.title }}</h3>
						<div>
						{{ item.text|raw }}
						{% if item.ambasador is defined %}
							<a href="http://www.servanet.se/pages/fiberambassador" class="ambassador" target="_blank">Jag vill bli ambassadör</a>
						{% elseif item.application is defined %}
							<a href="#anslutamotorn" class="ambassador scrollTo">Sök på din bostad</a>
						{% elseif item.dig is defined %}
							<a href="#dig" class="dig scrollTo">Läs mer i vår grävningsguide</a>
						{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ol>
	</div>
</div>